@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.summary {
  @include card;
  padding: $spacing-lg;
  margin-bottom: $spacing-xl;

  h2, h3 {
    font-size: $font-size-lg;
    margin-bottom: $spacing-sm;
  }

  p {
    color: $color-text-light;
    white-space: pre-line;
    margin: 0;
  }
}
